# Let's warm up the fundamentals of Python!

## Simple Input and Output

### Task: Print a message "Welcome to Python Basics, `[user's name]`" using print and input functions

In [ ]:
print("Welcome to Python Basics ",input("user's name: "))

user's name: priyanshu
Welcome to Python Basics  priyanshu

## Simple Variables

### Task: Create variables representing a cat (name "Kat"), a price (13.50), a grade (95), a flag (True), an interest rate (5.75%), and check their data types.

In [ ]:
cat ="Kat"
price=13.50
grade=95
flag =True
interest_rate=5.75
print(type(cat))
print(type(price))
print(type(grade))
print(type(flag))
print(type(interest_rate))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'float'>

## Assignment Operations

### Task: Swap the value of variable x and y

In [ ]:
x,y=3,4
x,y=y,x
print("x: ",x," ","y: ",y)

x:  4   y:  3

### Task: Assign variable z with int 5, then with float 5.0, then with string '5.0'. Check the data type for each assignment.

In [ ]:
z=5
print(type(z))
z=5.0
print(type(z))
z='5.0'
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

## Arithmatic Operations

### Task: Ask the user to type in two positive int, and compute the result of (+, -, *, /, //, **, %)

In [ ]:
a=abs(int(input("first int: ")))
b=abs(int(input("second int: ")))
print("a+b: ",a+b)
print("a-b: ",a-b)
print("a/b: ",a/b)
print("a//b: ",a//b)
print("a*b: ",a*b)
print("a%b: ",a%b)

first int: 8
second int: 2
a+b:  10
a-b:  6
a/b:  4.0
a//b:  4
a*b:  16
a%b:  0

## Relational Operations

### Task: Ask the user to type in two numbers, and compute the result of (<, <=, ==, >=, >, !=)

In [ ]:
a=int(input("first int: "))
b=int(input("second int: "))
print("a<b: ",a<b)
print("a<=b: ",a<=b)
print("a==b: ",a==b)
print("a>=b: ",a>=b)
print("a>b: ",a>b)
print("a!=b: ",a!=b)

first int: 1
second int: 2
a<b:  True
a<=b:  True
a==b:  False
a>=b:  False
a>b:  False
a!=b:  True

## Logical Operations

### Task: Let x be `True` and y be `False`. Compute and print the result of (and, or, not)

In [ ]:
x=True
y=False
print("x and y: ",x and y)
print("x or y: ",x or y)
print("not x: ",not x)
print("not y: ",not y)

x and y:  False
x or y:  True
not x:  False
not y:  True

## Branching

### Task: What day is today?

Write a program that asks the user for a number in the range of 1 through 7. The program should display the corresponding day of the week, where

* 1    = Monday,
* 2    = Tuesday,
* 3    = Wednesday,
* 4    = Thursday,
* 5    = Friday,
* 6    = Saturday, and
* 7    = Sunday
* all other value entered = ERROR

In [ ]:
number=int(input("number: "))

if(number==1):
  print("Monday")
elif(number==2):
  print("Tuesday")
elif(number==3):
  print("Wednesday")
elif(number==4):
  print("Thursday")
elif(number==5):
  print("Friday")
elif(number==6):
  print("Saturday")
elif(number==7):
  print("Sunday")
else:
  print("ERROR")

number: 9
ERROR

## Repetition

### Task: Keep saving until you can retire.

Write a program to simulate how to save money for retirement.

1.  Asks the user for a number representing a new positive deposit for the retirement fund.
1.  Print out the amount of the deposit as well as the balance for each transaction.
1.  When the balance is equal or more than 1 million, print a message "You can retire now" to the user.
1.  Print "Congratualtions!" and exit the program.

In [ ]:
balance= 0
while balance<=1000000:
  deposit=float(input("deposite amount: "))
  balance +=deposit
  print("Balance: ",balance)
  if(balance>=1000000):
    print("You can retire now \nCongratualtions!")

deposite amount: 100000
deposite amount: 100000
deposite amount: 10000000
You can retire now
Congratualtions!