# Setup

In [ ]:
import numpy as np
import pandas as pd

#Creation
##Panda Series

In [ ]:
import numpy as np
import pandas as pd

s1= pd.Series(np.arange(5))
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [ ]:
type(np.arange(5))

numpy.ndarray

# Creating series with index

In [ ]:
s2=pd.Series(np.arange(5),index = ['a','b','c','d','e'])
s2

a    0
b    1
c    2
d    3
e    4
dtype: int64

# Assign index to existing Series

In [ ]:
s2.index=['A','B','C','D','E']
s2

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [ ]:
s2.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

# Create One-Item Series From Scaler

In [ ]:
s3=pd.Series(5)
s3

0    5
dtype: int64

# Create Series from list

In [ ]:
s5 =pd.Series(['A','B','C','D'])
s5

0    A
1    B
2    C
3    D
dtype: object

In [ ]:
s5.index

RangeIndex(start=0, stop=4, step=1)

# Create Series from dict

In [ ]:
data = {
    'Name':'A',
    'Class':'B',
    'Section':'C'
}

s6 =pd.Series(data)
# s6.index =[1,2,3]
s6

Name       A
Class      B
Section    C
dtype: object

In [ ]:
ar =np.array([1,2,3,np.nan,5,6,np.nan,9,10])
ar

array([ 1.,  2.,  3., nan,  5.,  6., nan,  9., 10.])

In [ ]:
ar.mean()

nan

In [ ]:
s7=pd.Series(ar)
print(s7,"\nMean: ",s7.mean())

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     9.0
8    10.0
dtype: float64
Mean:  5.142857142857143

In [ ]:
s7.mean(skipna=False)

nan

# The index and values Properties

In [ ]:
print(s6.index)
print(s6.values)
print(type(s6.values))

Index(['Name', 'Class', 'Section'], dtype='object')
['A' 'B' 'C']
<class 'numpy.ndarray'>

# Access

##loc[] and iloc[]

In [ ]:
print(s6)
print(s6.loc['Class'])
print(s6.iloc[1])
print(s6.loc[:])
print(s6.iloc[:])
print(s6.loc[['Name','Section']])

Name       A
Class      B
Section    C
dtype: object
B
B
Name       A
Class      B
Section    C
dtype: object
Name       A
Class      B
Section    C
dtype: object
Name       A
Section    C
dtype: object

#Manipulation
##Alignment

In [ ]:
grades1=pd.Series([17,44,28,8,3],index=['a','b','c','d','f'])
grades2=pd.Series([76, 122, 151, 21, 0],index=['d','c','b','a','f'])

total=grades1+grades2
total

a     38
b    195
c    150
d     84
f      3
dtype: int64

In [ ]:
grades1=pd.Series([17,44,28,8,3],index=['a','b','c','d','f'])
grades2=pd.Series([76, 122, 151, 21],index=['d','c','b','a'])

total=grades1+grades2
total

a     38.0
b    195.0
c    150.0
d     84.0
f      NaN
dtype: float64

In [ ]:
total=grades1.add(grades2,fill_value=10)
total

a     38.0
b    195.0
c    150.0
d     84.0
f     13.0
dtype: float64

#Comparing Series

In [ ]:
s=np.random.randint(1,7,(100,))
s2=np.random.randint(1,7,(100,))
dices1=pd.Series(s)
dices2=pd.Series(s2)
print(type(dices1==dices2))
dices1==dices2

<class 'pandas.core.series.Series'>

0      True
1     False
2     False
3      True
4     False
      ...
95    False
96     True
97    False
98    False
99    False
Length: 100, dtype: bool

#Element-wise Operations

In [ ]:
np.random.seed(1)
exam_grades = pd.Series(np.random.randint(60,101,100))
exam_grades

0     97
1     72
2     68
3     69
4     71
      ..
95    87
96    81
97    71
98    67
99    73
Length: 100, dtype: int64

In [ ]:
curved_grades = exam_grades.multiply(1.05)
curved_grades

0     101.85
1      75.60
2      71.40
3      72.45
4      74.55
       ...
95     91.35
96     85.05
97     74.55
98     70.35
99     76.65
Length: 100, dtype: float64

In [ ]:
def convert_to_letter(grade):
    if grade >= 90:
        return 'A'
    elif grade >= 80:
        return 'B'
    elif grade >= 70:
        return 'C'
    elif grade >= 65:
        return 'D'
    else:
        return 'F'

letter_grades = curved_grades.apply(convert_to_letter)
letter_grades

0     A
1     C
2     C
3     C
4     C
     ..
95    A
96    B
97    C
98    C
99    C
Length: 100, dtype: object

In [ ]:
part_letter_grade = curved_grades.iloc[:50].apply(convert_to_letter)
part_letter_grade

0     A
1     C
2     C
3     C
4     C
5     D
6     C
7     F
8     C
9     F
10    C
11    C
12    D
13    B
14    B
15    A
16    B
17    B
18    C
19    A
20    A
21    C
22    D
23    B
24    B
25    A
26    A
27    B
28    C
29    C
30    C
31    B
32    F
33    F
34    B
35    C
36    B
37    C
38    C
39    A
40    C
41    D
42    D
43    B
44    D
45    D
46    B
47    C
48    A
49    C
dtype: object